*{
    font-family: Poppins;
}
.login__site{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    align-self: center;

}
.login__form{
    /* margin-top: 75%; */
}
.login__site input {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid var(--Color---5, #A2A6B0);
    background: #FFF;
    padding: 15px;
}
.login__site button{
    padding: 12px;
    border-radius: 8px;
    background-color: #0156FF;
    color: #FFF;
    border: none;
}