@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Inter:wght@400;600&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@400;600;700&display=swap');

.site {
    /* display: flex; */
    /* justify-content: space-around; */
    width: 1920px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header__navbar {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.header__navbar p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
}

.header__navbar button {
    border-radius: 50px;
    border: 2px solid #0156FF;
    padding: 8px 26px;
    color: #0156FF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
}

.header__profile {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    align-items: center;
}


.content {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.content__banner_1 {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.content__products {
    display: flex;
    justify-content: center;
}

.content__product {
    width: 235px;
}

.content__product__title {
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;

}

.msi_banner {
    background-image: url(../images/msi_laptop.png);
    width: 232px;
    height: 346px;
    text-align: center;
}
.msi_banner .laptop{
    
}
.msi_banner .dekstop{
    background-image: url(../images/msi_dekstop.png);

}
.msi_banner p{
    color: #FFF;
/* text-align: center; */
font-family: Poppins;
font-size: 22px;
font-weight: 700
}
.msi_content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.msi_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . .";
}

.msi_product {
    height: 305px;
    width: 230px;
    padding: 18px;
    align-items: center;
    border: #000 1px solid;
}
.test{
    width: 150px;
    height: 150px;
}
.msi_laptop_name {

    display: flex;
    width: 185px;
    height: 65px;
    flex-direction: column;
    justify-content: flex-end;

    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.msi_product span {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.msi_product s {
    color: grey;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}