.footer {
    background-color: black;
    width: 100%;
    color: white;
    padding: 100px 0px 100px 0px;
    margin-top: 100px;
}




.newsletter__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsletter{
    display: flex;
    justify-content: space-around;
}

.newsletter input {
    border-radius: 4px;
    border: 2px solid #FFF;

    background: #000;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin-right: 30PX;
}

.newsletter button {
    border-radius: 18px;
    background: #0156FF;
    color: white;
    padding: 12px;
    width: 145px;
}



.footer__container{
    display: flex;
    justify-content: space-around;
}
.footer__container ul{

    list-style-type: none;
}
.footer__container ul li h3{
    color: grey;
}



.footer__social{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}