.site {
    margin: auto;
}


.filter_title {
    font-family: Poppins;
    font-size: 32px;
}


.filter_header{
    display: flex;
    justify-content: space-between;
}
.filter_search{
    border-radius: 8px;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 25px;
}
.filter_search::placeholder{
    padding: 8px;
}

.filter_sort{
    padding:  5px;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #0156FF;
}
.filter_sort:active{
    border: 1px solid #0156FF;

}

.filter_content {
    display: flex;
}

.filter_column {
    width: 350px;
    background-color: #FFF;
    /* background-color: ; */
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);  */
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 8px;
}

.filter_column_list{
    list-style: none;
}

.collapsible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    width: 100%;
    padding: 18px;
    font-size: 15px;

    cursor: pointer;
    border: none;
    outline: none;
}

.active,
.collapsible {
    background-color: #fff;
}

.activeContent {
    max-height: 1800px !important;
}

.content {
    font-family: Poppins;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* background-color: #f1f1f1; */
    background-color: #FFF;

}
.content button{
    background-color: #FFF;
    /* background-color: aqua; */

}

.apply_button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 8px 42px 8px 45px;
    border-radius: 50px;
    background: var(--Color---3, #0156FF) !important;
    border: none;
    color: white;
    font-family: Poppins;
    cursor: pointer;
}


.msi_product{
    display: flex;
    /* justify-content: space-between; */
}

.msi_product_container{
    display: flex;
    justify-content: space-between;
}

.msi_product_buttons{
    padding-top: 300px;
    display: flex;
}

@media (max-width:480px) {
    .filter_title{
        display: flex;
        justify-content: center;
        font-size: 22px;
    }
    .filter_column{
        width: 100%;
    }
    .filter_content{
        display: flex;
        flex-direction: column;
    }
    .collapsible{
        font-size: 10px;
        padding: 10px;
    }
    .collapsible h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .msi_product_container{
        align-items: flex-end;
    }
}