.site {
    margin: auto;
}


.filter_title {
    font-family: Poppins;
    font-size: 32px;
}


.filter_header{
    display: flex;
    justify-content: space-between;
}
.filter_search{
    border-radius: 8px;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 25px;
}

.filter_sort{
    padding:  5px;
    border-radius: 12px;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #0156FF;
}
.filter_sort:active{
    border: 1px solid #0156FF;

}

.filter_content {
    display: flex;
}

.filter_column {
    width: 700px;
}

.collapsible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    width: 100%;
    /* color: white; */
    padding: 18px;
    font-size: 15px;
    /* background-color: #777; */

    cursor: pointer;
    border: none;
    outline: none;
}

.active,
.collapsible:hover {
    /* background-color: #555; */
}

.activeContent {
    max-height: 1800px !important;
}

.content {
    font-family: Poppins;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.apply_button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 8px 42px 8px 45px;
    border-radius: 50px;
    background: var(--Color---3, #0156FF);
    border: none;
    color: white;
    font-family: Poppins;
    cursor: pointer;
}




.msi_product_container{
    display: flex;
    justify-content: space-between;
}

@media (max-width:480px) {
    .filter_title{
        display: flex;
        justify-content: center;
        font-size: 22px;
    }
    .filter_column{
        width: 100%;
    }
    .filter_content{
        display: flex;
        flex-direction: column;
    }
    .collapsible{
        font-size: 10px;
        padding: 10px;
    }
    .collapsible h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .msi_product_container{
        align-items: flex-end;
    }
}