.site {
    margin: auto;
}


.filter_title {
    font-family: Poppins;
    font-size: 32px;
}


.filter_content {
    display: flex;
}

.filter_column {
    width: 400px;
}

.collapsible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    width: 100%;
    /* color: white; */
    padding: 18px;
    font-size: 15px;
    /* background-color: #777; */

    cursor: pointer;
    border: none;
    outline: none;
}

.active,
.collapsible:hover {
    /* background-color: #555; */
}

.activeContent {
    max-height: 1200px !important;
}

.content {
    font-family: Poppins;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.apply_button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 8px 42px 8px 45px;
    border-radius: 50px;
    background: var(--Color---3, #0156FF);
    border: none;
    color: white;
    font-family: Poppins;
    cursor: pointer;
}



.msi_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . .";
}

.msi_product {
    height: 305px;
    width: 230px;
    padding: 18px;
    align-items: center;
    border: #000 1px solid;
}

.msi_image {
    width: 150px;
    height: 150px;
}

.msi_laptop_name {

    display: flex;
    width: 185px;
    height: 65px;
    flex-direction: column;
    justify-content: flex-end;

    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.msi_product span {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.msi_product s {
    color: grey;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}


.msi_product_container{
    display: flex;
    justify-content: space-between;
}