.admin__panel__site{
    display: flex;
    justify-content: center;
}
.admin__panel__site label{
    display: flex;
    flex-direction: column;
}
.admin__panel__site input{
    border-radius: 8px;
    width: 200px;
    height: 50px;
}
.admin__panel__site input::placeholder{
    padding: 5px;
}
.admin__panel__site button{
    background-color: #0156FF;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 18px;
    margin-top: 20px;
}

.admin__panel__site select{
    border-radius: 12px;
    background-color: #0156FF;
    color: #FFF;
    padding: 8px;
    border: none;
}